.productCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 12rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.productCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}