.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .products {
    flex:2;
  }

  .productList {
    display: grid;
    font-size: 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    float: left;
  }